App/build
App/Pods
App/output
App/App/public
DerivedData
xcuserdata

# macOS
.DS_Store

# VS Code / JetBrains
.idea/
.vscode/

# Xcode user state
*.xcuserstate

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml